
html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    background-image: url("/gabs-artist-eZ0xOz-ddr4-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Titillium Web', sans-serif;
}

ul{
    display: flex;
    justify-self: center;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #052A36  ;
    overflow: hidden;
    justify-content: space-around;
    
   
}

ul li {
    display: list-item;
    
}

.home {
    justify-self: flex-start;
   
}

ul a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 14px 16px;  
    font-size: 1.4em;
    float: right;
    transition: background-color .3s;
}

ul a:hover {
    background-color: #1F9984;
}
main {
    padding: 100px;
}
#welcome-section {
    height: 40vh;
    background-image: linear-gradient(to bottom right, rgba(18, 222, 255, .6), rgba(46, 173, 46, 0.1)) ;
    border-radius: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 2px 2px 5px 8px rgb(182, 217, 236);
    padding: 20px;
}

h1 {
    font-size: 5em;
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    margin: 20px 200px;
      
}
h2 {
    font-size: 2em;
    margin-left: 200px;
    padding: 0px;

}

#projects {
    display: flex;
    justify-content: center;
    gap: 30%;
    margin: 200px 350px;
}

@media screen and (max-width: 940px) {
    body{
        display: flex;
        justify-content: center;
    }

    main {
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    ul {
        flex-wrap: wrap;
        justify-content: flex-start;
        
    }
    #projects {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin: 0;
    }
    #welcome-section {
        display: flex;
        flex-shrink: inherit;
        margin: 5%;
        background-image: none;
        box-shadow: none ;
        
    }
    h1 {
        padding-top: 10px;
        margin: 0 auto;
    }
    h2 {
        
        margin: 0 auto;
    }
    
    
}

.project-tile {
    width: 200px;
    height: 250px;
    border: black solid 1px;
    transition: transform .2s   ;

}

.project-tile:hover {
    transform: scale(1.1);
    
}   

p {
    font-size: 1.3em;
    text-align: center;
}


#social-links {
    margin-top: 300px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    gap: 50px;
   
}

#social-links a:hover {
    opacity: .8;
}

